body {
    margin: 0;
    background: #e5e5e5;
    font-family: Arial, sans-serif;
}

.resume {
    width: 900px;
    margin: 40px auto;
    background: white;
    padding: 40px;
}

.name {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    gap: 40px;
}

.left {
    width: 35%;
}

.right {
    width: 65%;
}

.profile {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
}


h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
}

p {
    line-height: 1.5;
}
